#container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.question {
    position: absolute;
    left: 15%;
    top: 30%;
}

#answerButton {
    position: absolute;
    margin-right: 20%;
    margin-bottom: 5%;
}

#startButton, #restartButton {
    position: absolute;
    left: 50%;
    bottom: 10%;
}
